<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>Epreuve final</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'question.css' %}">
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
  </head>
  <body>
    {% include 'partials/navbar.html' %}
    <div class="container">
        <div class="context-box">
            <h1 class="titre-principal">Il est maintenant temps de trouver leur planque !</h1>
            <h2>On a compris à quoi correspondent les indices que nous avons reçus jusque-là : 70 000 correspond au nombre d'habitants de la ville, la taille des arbres de Supertree Grove correspond au numéro de rue de la planque, et pour finir Ratyotha Rd est tout simplement le nom de la rue<br><br>
            Maintenant que nous avons tous les indices, décodons-les pour trouver leur planque et les arrêter</h2>


            <div class="reponse-box">
                <input type="text" id="reponse" name="reponse" placeholder="Ta réponse ici...">
                <button id="submit-reponse" class="btn-valider">Valider</button>
            </div>
            <p>(Format réponse attendu : N° nomRue ville)</p>

            <div class="erreur" style="display:none; color:red;">
                <p>Mauvaise réponse ❌ — essaye encore !</p>
            </div>
        </div>
    </div>

<script>

const submitBtn = document.getElementById('submit-reponse');
const reponse = document.getElementById('reponse');
const resultat = document.querySelector('.resultat');
const erreur = document.querySelector('.erreur');
const reponseBox = document.querySelector('.reponse-box');

let joueurId = localStorage.getItem('joueurId') || '{{ joueur_id }}';

submitBtn.addEventListener('click', () => {
    const valeur = reponse.value.trim().toLowerCase();

    if (valeur === '50 ratyotha rd chiang rai') {
        window.location.href = `/victoire/${joueurId}/`;

    } else {
        erreur.style.display = 'block';
    }
});
</script>
</body>
</html>