<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <title>Escape Game - Accueil</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}" />
</head>
<body class="accueil">
    <div class="overlay"></div>

    <div class="container">
        <div class="context-box">
            <h1 class="titre">Monumental Game</h1>
            <p class="intro">
                Bienvenue dans Monumental Game ! <br><br>
                Votre équipe sera mise à l'épreuve : vous devrez collaborer pour déjouer des attaques visant des monuments. <br><br>
                Votre collaboration sera essentielle pour obtenir toutes les informations nécessaires afin de retrouver les détails de l'attaque et découvrir la planque des personnes qui organisent ces attaques.
            </p>
        </div>

        <a href="{% url 'joueurs' %}">
            <button class="bouton" type="button">Commencer l'enquête</button>
        </a>
    </div>

    <script>
        localStorage.removeItem('joueurId');
        localStorage.removeItem('questionActuelle');
        localStorage.removeItem('indiceUtilise');
        localStorage.removeItem('timerEnd');
    </script>

</body>
</html>
