<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Joueur</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        {% include 'partials/navbar.html' %}
        <div class="container">
            <h1>Sélectionner votre joueur !</h1>
            <a href="{% url 'question1' 1 %}"><button class="bouton" type="button">Joueur 1</button></a>
            <a href="{% url 'question1' 2 %}"><button class="bouton" type="button">Joueur 2</button></a>
            <a href="{% url 'question1' 3 %}"><button class="bouton" type="button">Joueur 3</button></a>
        </div>
    </body>
</html>