<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>Victoire</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'victoire.css' %}">
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
  </head>
  <body>
    {% include 'partials/navbar.html' %}
    <div class="container">
      <div class="context-box">
        <div>
            <h1 class="titre-principal">Grace à vous nous avons reussi à arreter les auteurs de c'est attaque !<br>
            Nous vous somes énormement reconnaissant !</h1>
            <h2>Félicitation !</h2>
        </div>
    </div>
</body>
</html>