/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1a1a1a; /* gris très sombre */
  padding: 15px 30px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.5);
  z-index: 1000;
  display: flex;
  align-items: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.navbar .logo {
  color: #ff0000; /* jaune */
  font-size: 1.8em;
  font-weight: bold;
  margin-right: 40px;
  text-transform: uppercase;
}

.navbar li {
  margin-right: 25px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
  padding: 8px 12px;
  border-radius: 8px;
  transition: 0.3s;
}

.navbar a:hover {
  background-color: #ff0000; /* jaune */
  color: #000;
  transform: scale(1.05);
}
