html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: url('../static/background_vic.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
}

/* Pour éviter que la navbar pousse le fond */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 100px auto 40px auto;
  background: rgba(30, 30, 47, 0.9);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
  text-align: center;
}

.titre-principal {
  font-size: 1.8em;
  margin-bottom: 20px;
  color: #ff4d4d;
  text-shadow: 0 0 10px #ff4d4d;
}

h2 {
  color: #ff4081;
}
